<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>회원/비회원 로그인</title>
  <link rel="stylesheet" th:href="@{/css/login.css}">
  <link rel="stylesheet" th:href="@{/css/global.css}">
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="/js/global.js"></script>
  <script type="module" src="/js/login.js" defer></script>
</head>
<body>
<div class="container">

  <div th:replace="header :: header"></div>

  <section class="login-section">
    <div class="login-wrapper">
      <div class="login-container">
        <div class="tabs">
          <button class="tab active" onclick="showTab('member-login')">회원 로그인</button>
          <button class="tab" onclick="showTab('guest-order')">비회원 주문 조회</button>
        </div>

        <div id="member-login" class="tab-content active">
          <input type="text" id="user-id" name="loginId" placeholder="ID" required>
          <input type="password" id="user-password" name="password" placeholder="비밀번호" required>
          <button type="button" class="large-btn" id="login-post-btn">로그인</button>

          <a href="/frontend/join">
            <button class="simple-join-btn">NHN 간편 회원가입</button>
          </a>
          <div class="helper-links">
            <a th:href="@{/frontend/find-account}" class="helper-link">계정 찾기</a>
          </div>
          <p id="sns-login-text" class="sns-text">SNS 계정으로 로그인</p>
          <div id="sns-login" class="sns-buttons">
            <a th:href="@{/oauth2/authorization/kakao}"><img th:src="@{/image/logo/kakao.png}" alt="카카오"></a>
            <a th:href="@{/oauth2/authorization/google}"><img th:src="@{/image/logo/google.png}" alt="구글"></a>
            <a th:href="@{/oauth2/authorization/naver}"><img th:src="@{/image/logo/naver.png}" alt="네이버"></a>
            <a th:href="@{/frontend/oauth2/authorization/payco}"><img th:src="@{/image/logo/payco.png}" alt="페이코"></a>
          </div>
        </div>

        <div id="guest-order" class="tab-content">
          <form th:action="@{/guest-order}" method="post">
            <input type="text" id="guest-order-id" name="orderId" placeholder="주문 번호" required>
            <input type="text" id="guest-phone" name="phone" placeholder="휴대폰 번호" required>
            <button class="large-btn" type="submit">조회</button>
          </form>
          <div class="helper-links">
            <a th:href="@{/find-guest}" class="helper-link">주문 번호 찾기</a>
            <a th:href="@{/find-guest}" class="helper-link">주문 비밀번호 찾기</a>
          </div>
        </div>
      </div>

      <div class="welcome-banner">
        <img th:src="@{/image/logo/welcou.png}" alt="신규회원 웰컴 쿠폰 배너">
      </div>
    </div>
  </section>

  <div th:replace="footer :: footer"></div>

</div>


</body>


</html>
