<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NHN 24 Admin Access</title>
  <link rel="stylesheet" th:href="@{/css/admin-access.css}">
  <link rel="stylesheet" th:href="@{/css/global.css}">

</head>
<body>
<div class="container">

  <div th:replace="header :: header"></div>

  <main class="main-content">
    <section class="access-section">
      <img class="icon admin-icon" th:src="@{/image/icons/admin.png}">
      <p>관리자 권한으로 로그인되었습니다.</p>
      <a th:href="@{/admin-page}" class="admin-link">
        <button class="admin-page-btn">관리자 페이지로 이동</button>
      </a>
    </section>
  </main>


  <div th:replace="footer :: footer"></div>
</div>
</body>
</html>