<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NHN 24 관리자</title>
  <link rel="stylesheet" th:href="@{/css/check-user.css}">
  <link rel="stylesheet" th:href="@{/css/global.css}">
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script type="module" src="/js/axios-config.js"></script>
</head>
<body>
<div class="container">

  <!-- Header -->
  <div th:replace="header :: header"></div>

  <main class="main-content">
    <div th:replace="admin/admin-sidebar :: aside"></div>


    <!-- Category Creation Section -->
    <section id="categoryCreate">
      <h2>Create New Category</h2>
      <form id="category-create-form" method="post" class="create-form">
        <div>
          <label for="name">Category Name:</label>
          <input type="text" name="name" id="name" required>
        </div>
        <div>
          <label for="level">Category Level:</label>
          <select name="level" id="levels" required>
            <option value="" disabled selected>Select Level</option>
            <option th:each="i : ${#numbers.sequence(1, 5)}" th:value="${i}" th:text="'Level ' + ${i}"></option>
          </select>
        </div>
        <button type="submit">Add Category</button>
      </form>


      <h2>Delete Category by ID</h2>
      <form id="category-delete-id-form" method="post" class="delete-id-form">
        <div>
          <label for="categoryId">Category ID:</label>
          <input type="number" name="id" id="categoryId" required>
        </div>
        <button type="submit">Delete Category</button>
      </form>
    </section>

  </main>

  <!-- Footer -->
  <div th:replace="footer :: footer"></div>

</div>
<script th:src="@{/js/admin-category.js}"></script>
</body>
</html>
