<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>배송비 정책 생성</title>
  <link rel="stylesheet" th:href="@{/css/policy-register.css}">
  <link rel="stylesheet" th:href="@{/css/global.css}">
</head>
<body>
<div class="container">

  <div th:replace="header :: header"></div>

  <main>
    <div th:replace="admin/admin-sidebar :: aside"></div>

    <div class="form-container">
      <form id="delivery-form">
        <table class="form-table">
          <h2 class="form-title">배송비 정책 생성</h2>
          <tr>
            <th>배송비 정책 이름</th>
            <td><input type="text" id="delivery-policy-name" name="name" placeholder="정책 이름 입력"></td>
          </tr>
          <tr>
            <th>무료 배송 가격</th>
            <td class="discount-field">
              <input type="number" id="delivery-value-min-price" placeholder="값 입력">
            </td>
          </tr>
          <tr>
            <th>가격</th>
            <td class="discount-field">
              <input type="number" id="delivery-value" placeholder="값 입력">
            </td>
          </tr>

        </table>

        <button type="button" id="delivery-register-btn" class="delivery-register-btn">등록</button>
      </form>
    </div>

  </main>

  <div th:replace="footer :: footer"></div>

</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script type="module" src="/js/axios-config.js"></script>
<script th:src="@{/js/delivery-policy-register.js}"></script>
</body>
</html>