<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원 조회</title>
    <link rel="stylesheet" th:href="@{/css/check-user.css}">
    <link rel="stylesheet" th:href="@{/css/global.css}">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/global.js"></script>
    <script type="module" src="/js/axios-config.js"></script>
</head>
<body>
<div class="container">

    <div th:replace="header :: header"></div>

    <main class="main-content">
        <aside class="sidebar">
            <h3>관리자 메뉴</h3>
            <ul>
                <li><h3>*쿠폰</h3>
                    <ul>
                        <li><a href="/admin/frontend/check-coupon" class="menu-link">쿠폰 정책 조회</a></li>
                        <li><a href="/admin/frontend/coupon-policy" class="menu-link">쿠폰 정책 생성, 발급</a></li>
                        <li><a href="/admin/frontend/coupon-create" class="menu-link">쿠폰 생성, 발급</a></li>
                    </ul>
                </li>
                <li><h3>*회원</h3>
                    <ul>
                        <li><a href="/admin/frontend/user-list" class="menu-link">회원 조회</a></li>
                    </ul>
                </li>
                <li><h3>*도서</h3>
                    <ul>
                        <li><a href="/admin/frontend/book-list" class="menu-link">도서 조회</a></li>
                        <li><a href="/admin/frontend/book-edit" class="menu-link">도서 수정</a></li>
                    </ul>
                </li>
            </ul>
        </aside>

        <section class="content">
            <h2>회원 조회</h2>
            <div class="search-bar">
                <label for="searchInput" class="search-label">이름 :</label>
                <input type="text" id="searchInput" placeholder="검색 조건을 입력하세요" class="search-input"
                       th:value="${searchName}">
                <button id="searchBtn" class="search-btn">조회</button>
                <select id="sortSelect" class="sort-select">
                    <option value="name,asc" th:selected="${sort.contains('name')}">정렬: 가나다순</option>
                    <option value="birth,desc" th:selected="${sort.contains('birth')}">정렬: 생일 순</option>
                </select>
            </div>
            <table class="data-table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>가입일</th>
                    <th>이름</th>
                    <th>등급</th>
                    <th>성별</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user : ${page.getContent()}">
                    <td th:text="${user.id}">1</td>
                    <td th:text="${user.birth}">2024-01-01</td>
                    <td th:text="${user.name}">홍길동</td>
                    <td th:text="${user.memberGrade}">VIP</td>
                    <td th:text="${user.gender}">MALE</td>
                </tr>
                </tbody>
            </table>
            <div class="pagination">
                <button th:each="i : ${#numbers.sequence(1, page.getTotalPages())}"
                        th:data-page="${i}"
                        th:text="'Page ' + ${i}"
                        class="pagination-btn"></button>
            </div>
        </section>
    </main>

    <div th:replace="footer :: footer"></div>

</div>
<script type="module" src="/js/find-user.js"></script>
</body>
</html>
