<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>장바구니</title>
    <link rel="stylesheet" th:href="@{/css/cart-success.css}">
    <link rel="stylesheet" th:href="@{/css/global.css}">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script type="module" src="/js/axios-config.js"></script>
    <script th:src="@{/js/global.js}"></script>
</head>
<body>
<div class="container">

    <div th:replace="header :: header"></div>

    <main>
        <section class="step-container">
            <div class="step current">카트</div>
            <div class="step">결제</div>
            <div class="step">완료</div>
        </section>

        <section class="delivery-section">
            <h2><img th:src="@{/image/emoji/ship.png}" alt=""> NHN 24 배송</h2>
            <h6>일반 배송: 5000원</h6>
        </section>

        <section class="shipping-info">
            <div class="flex-box progress-bar"></div>
            <span class="free-shipping-text">
                <strong>30,000원</strong> 이상 구매 시 <strong>무료배송</strong>
            </span>
            <button class="more-details-btn" th:onclick="|location.href='@{/frontend/main}'|">더 담으러 가기</button>
        </section>

        <!-- 장바구니 항목 -->
        <section class="item-section">
            <div class="product-table">
                <table>
                    <thead>
                    <tr>
                        <th>상품정보</th>
                        <th>수량</th>
                        <th>상품금액</th>
                        <th>주문</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- 반복문으로 카트 항목 렌더링 -->
                    <tr th:each="item : ${cart.cartItems}">
                        <td class="product-info">
                            <img th:src="${item.coverUrl}" alt="상품 이미지">
                            <div>
                                <p><strong th:text="${item.name}"></strong></p>
                            </div>
                        </td>
                        <td>
                            <input type="number" name="quantity" class="number-box" id="number-box"
                                   th:value="${item.quantity}" min="1"
                                   max="99" th:data-book-id="${item.bookId}"/>
                        </td>
                        <td>
                            <p>정가: <span th:text="${item.regularPrice} + '원'"></span></p>
                            판매가: <span th:text="${item.salePrice} + '원'"></span>
                        </td>
                        <td>
                            <button class="delete-button" id="delete-button" th:data-book-id="${item.bookId}">삭제</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <button id="clear-cart-btn" class="delete-button" style="display: block; margin: 20px auto;">장바구니 비우기</button>
        </section>

        <section class="payment-benefits">
            <div class="benefit-title">결제 혜택</div>
            <div class="benefit-list">
                <div class="benefit">
                    <img th:src="@{/image/logo/kakaopay.png}" alt="KakaoPay">
                    <p> 월 300만, 5만원 이상</p>
                </div>
                <div class="benefit">
                    <img th:src="@{/image/logo/paycopay.png}" alt="PaycoPay">
                    <p> 페이코 포인트로 결제 시 5% 적립</p>
                </div>
                <div class="benefit">
                    <img th:src="@{/image/emoji/book.png}" alt="NHN 24">
                    <p> 1~3% 포인트 적립</p>
                </div>
            </div>
        </section>

        <section class="delivery-info">
            <div class="delivery-sidebar">
                <div class="delivery-title">배송일 안내</div>
                <button class="delivery-button">배송안내</button>
            </div>
            <div class="delivery-details">
                <p>
                    배송지 : 광주광역시 동구 서석동 조선대
                    <button class="address-change-button">배송지 변경 ></button>
                </p>
            </div>
        </section>
    </main>

    <div th:replace="footer :: footer"></div>

</div>
<script th:src="@{/js/cart-success.js}"></script>

</body>
</html>
