<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>도서 검색</title>
  <link rel="stylesheet" th:href="@{/css/book-search.css}">
  <link rel="stylesheet" th:href="@{/css/global.css}">
</head>
<body>
<div th:replace="header :: header"></div>

<main>
  <aside class="filter-sidebar">
  <h3>검색 조건</h3>
    <form method="get" th:action="@{/categorySearch}">
      <input type="text" name="keyword" placeholder="검색어 입력" />
      <h3>카테고리 선택</h3>
      <ul>
        <li><label><input type="checkbox" name="categories" value="국내도서"> 국내도서</label></li>
        <li><label><input type="checkbox" name="categories" value="외국도서"> 외국도서</label></li>
        <li><label><input type="checkbox" name="categories" value="한국소설"> 한국소설</label></li>
        <li><label><input type="checkbox" name="categories" value="인문학"> 인문학</label></li>
        <li><label><input type="checkbox" name="categories" value="서양철학"> 서양철학</label></li>
        <li><label><input type="checkbox" name="categories" value="잡지"> 잡지</label></li>
        <li><label><input type="checkbox" name="categories" value="교육 일반"> 교육 일반</label></li>
        <li><label><input type="checkbox" name="categories" value="어린이"> 어린이</label></li>
        <li><label><input type="checkbox" name="categories" value="외국어"> 외국어</label></li>

      </ul>
      <button type="submit">검색</button>
    </form>

<!--  <form method="get" action="/filter">-->
<!--    <h3>*분야별 보기</h3>-->
<!--    <ul>-->
<!--      <li><label><input type="checkbox" name="category" value="국내 도서" th:checked="${selectedCategories.contains('국내 도서')}"> 국내 도서</label></li>-->
<!--      <li><label><input type="checkbox" name="category" value="건강/취미" th:checked="${selectedCategories.contains('건강/취미')}"> 건강/취미</label></li>-->
<!--      <li><label><input type="checkbox" name="category" value="경제/경영" th:checked="${selectedCategories.contains('경제/경영')}"> 경제/경영</label></li>-->
<!--      <li><label><input type="checkbox" name="category" value="고등학교 참고서" th:checked="${selectedCategories.contains('고등학교 참고서')}"> 고등학교 참고서</label></li>-->
<!--      <li><label><input type="checkbox" name="category" value="고전" th:checked="${selectedCategories.contains('고전')}"> 고전</label></li>-->
<!--    </ul>-->
<!--  </form>-->
</aside>

  <section class="book-results">
    <h2>검색 결과</h2>
    <div class="result-controls">
      <p th:if="${searchBook.contents.size() > 0}" th:text="'총 ' + ${searchBook.total} + '권의 검색 결과'"></p><!-- searchBook 경로 -->
      <!-- searchBook 경로 -->
      <form th:if="${searchBook.path == 'searchBook'}"
            th:action="@{/searchBook}"
            method="get">

        <!-- 검색어(Controller 파라미터: searchTerm) -->
        <input type="hidden" name="keyword" th:value="${searchBook.keyword}">

        <!-- 현재 페이지, 페이지네이션 로직에 따라 page=0으로 초기화할 수도 있음 -->
        <input type="hidden" name="page" th:value="${searchBook.page}" />

        <!-- sortField 파라미터, 자바스크립트로 설정될 예정 -->
        <input type="hidden" id="sortField" name="sortField"
               th:value="${searchBook.sortField != null ? searchBook.sortField : 'publishDate'}" />

        <!-- 정렬 방향 -->
        <select name="sortDir" onchange="updateSortField(this)">
          <!-- 최신순: sortDir='desc', sortField='publishDate' -->
          <option value="none" th:selected="${searchBook.sortDir == 'none'}">정확도순</option>
          <option value="desc" th:selected="${searchBook.sortDir == 'desc'}">최신순</option>
          <option value="asc" th:selected="${searchBook.sortDir == 'asc'}">오래된순</option>
          <option value="desc"
                  th:selected="${searchBook.sortField == 'popularity'}">인기순
          </option>
          </option>
        </select>
      </form>




      <!-- typeBook 경로 -->
      <form th:if="${searchBook.path == 'typeBook'}" th:action="@{/typeBook}" method="get">
        <input type="hidden" name="type" th:value="${searchBook.type}" />
        <input type="hidden" name="page" th:value="${searchBook.page}" />
        <select name="sortDir" onchange="this.form.submit()">
          <option value="none" th:selected="${searchBook.sortDir == 'none'}">정확도순</option>
          <option value="desc" th:selected="${searchBook.sortDir == 'desc'}">최신순</option>
          <option value="asc" th:selected="${searchBook.sortDir == 'asc'}">오래된순</option>
          <option value="desc"
                  th:selected="${searchBook.sortField == 'popularity'}">인기순
          </option>

        </select>
      </form>

      <!-- categorySearch 경로 -->
      <form th:if="${searchBook.path == 'categorySearch'}" th:action="@{/categorySearch}" method="get">
        <input type="hidden" name="categories" th:each="category : ${searchBook.categories}" th:value="${searchBook.categories}" />
        <input type="hidden" name="keyword" th:value="${searchBook.keyword}">
        <input type="hidden" name="page" th:value="${searchBook.page}" />
        <select name="sortDir" onchange="this.form.submit()">
          <option value="desc" th:selected="${searchBook.sortField == 'title'}">정확도순</option>
          <option value="desc" th:selected="${searchBook.sortDir == 'desc'}">최신순</option>
          <option value="asc" th:selected="${searchBook.sortDir == 'asc'}">오래된순</option>
          <option value="desc"
                  th:selected="${searchBook.sortField == 'popularity'}">인기순
          </option>
        </select>
      </form>

      <!-- 검색 결과가 없는 경우 -->
      <div th:if="${searchBook.contents.size() == 0}">
        <p>검색 결과가 없습니다.</p>
      </div>


    </div>
    <div class="book-list">
      <div th:each="book : ${searchBook.contents}" class="book-item">
        <a th:href="@{/frontend/books/{bookId}(bookId=${book.id})}">
          <img th:src="${book.coverUrl}" th:alt="${book.title}">
          <h4 th:text="${book.title}">도서 제목</h4>
        </a>
        <p th:text="'판매가: ' + ${book.salePrice}">판매가</p>
      </div>
    </div>


    <div class="pagination">

      <div th:if="${searchBook.path == 'searchBook'}">
        <!-- 이전 페이지 버튼 -->
        <a th:if="${searchBook.page > 0}"
           th:href="@{/searchBook(
               keyword=${keyword},
               sortField=${searchBook.sortField},
               sortDir=${searchBook.sortDir},
               page=${searchBook.page - 1},
               size=${searchBook.size}
           )}">
          이전
        </a>

        <!-- 페이지 번호 (1~5까지 표시) -->
        <span th:each="i : ${#numbers.sequence(searchBook.startPage, searchBook.endPage)}">
            <a th:href="@{/searchBook(
                   keyword=${keyword},
                   sortField=${searchBook.sortField},
                   sortDir=${searchBook.sortDir},
                   page=${i},
                   size=${searchBook.size}
               )}"
               th:text="${i + 1}"
               th:classappend="${i == searchBook.page} ? 'active' : ''">
            </a>
        </span>

        <!-- 다음 페이지 버튼 -->
        <a th:if="${searchBook.page < searchBook.total - 1}"
           th:href="@{/searchBook(
               keyword=${keyword},
               sortField=${searchBook.sortField},
               sortDir=${searchBook.sortDir},
               page=${searchBook.page + 1},
               size=${searchBook.size}
           )}">
          다음
        </a>
      </div>


      <!-- typeBook -->
      <div th:if="${searchBook.path == 'typeBook'}">
        <!-- 이전 페이지 버튼 -->
        <a th:if="${searchBook.page > 0}"
           th:href="@{/typeBook(
           type=${searchBook.type},
           sortField=${searchBook.sortField},
           sortDir=${searchBook.sortDir},
           page=${searchBook.page - 1},
           size=${searchBook.size}
       )}">
          이전
        </a>
        <!-- 페이지 번호 (1~5까지 표시) -->
        <span th:each="i : ${#numbers.sequence(searchBook.startPage, searchBook.endPage)}">
            <a th:href="@{/typeBook(
                   type=${searchBook.type},
                   sortField=${searchBook.sortField},
                   sortDir=${searchBook.sortDir},
                   page=${i},
                   size=${searchBook.size}
               )}"
               th:text="${i + 1}"
               th:classappend="${i == searchBook.page} ? 'active' : ''">
            </a>
        </span>

        <!-- 다음 페이지 버튼 -->
        <a th:if="${searchBook.page < searchBook.total / 5}"
           th:href="@{/typeBook(
           type=${searchBook.type},
           sortField=${searchBook.sortField},
           sortDir=${searchBook.sortDir},
           page=${searchBook.page + 1},
           size=${searchBook.size}
       )}">
          다음
        </a>
      </div>

      <!-- categorySearch -->
      <div th:if="${searchBook.path == 'categorySearch'}">
        <!-- 이전 페이지 버튼 -->
        <a th:if="${searchBook.page > 0}"
           th:href="@{/categorySearch(
           categories=${searchBook.categories},
           keyword=${searchBook.keyword},
           sortField=${searchBook.sortField},
           sortDir=${searchBook.sortDir},
           page=${searchBook.page - 1},
           size=${searchBook.size}
       )}">
          이전
        </a>

        <!-- 페이지 번호 (1~5까지 표시) -->
        <span th:each="i : ${#numbers.sequence(searchBook.startPage, searchBook.endPage)}">
            <a th:href="@{/categorySearch(
                   categories=${searchBook.categories},
                   keyword=${searchBook.keyword},
                   sortField=${searchBook.sortField},
                   sortDir=${searchBook.sortDir},
                   page=${i},
                   size=${searchBook.size}
               )}"
               th:text="${i + 1}"
               th:classappend="${i == searchBook.page} ? 'active' : ''">
            </a>
        </span>

        <!-- 다음 페이지 버튼 -->
        <a th:if="${searchBook.page < searchBook.total - 1}"
           th:href="@{/categorySearch(
           categories=${searchBook.categories},
           keyword=${searchBook.keyword},
           sortField=${searchBook.sortField},
           sortDir=${searchBook.sortDir},
           page=${searchBook.page + 1},
           size=${searchBook.size}
       )}">
          다음
        </a>
      </div>

    </div>




  </section>
</main>

<div th:replace="footer :: footer"></div>

<script th:src="@{/js/book-search.js}"></script>

</body>
</html>