<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>취소 주문 내역</title>
  <link rel="stylesheet" th:href="@{/css/cancel-history.css}">
  <link rel="stylesheet" th:href="@{/css/global.css}">
</head>
<body>
<div class="container">

  <div th:replace="header :: header"></div>

  <main class="my-account-container">
    <aside class="sidebar">
      <h3>MY ACCOUNT</h3>
      <ul>
        <li>*구매 내역</li>
        <a th:href="@{/order-manage}"><li>주문 조회/변경/취소</li></a>
        <a th:href="@{/refund-history}"><li>반품/교환 내역</li></a>
        <a th:href="@{cancel-history}"><li>취소 주문 내역</li></a>
        <li>*좋아요</li>
        <a th:href="@{/like-history}"><li>좋아요 내역</li></a>
        <li>*포인트</li>
        <a th:href="@{/points/earned}"><li>포인트 적립 내역</li></a>
        <a th:href="@{/points/used}"><li>포인트 사용 내역</li></a>
        <li>*쿠폰함</li>
        <a th:href="@{/coupon-history}"><li>쿠폰 내역</li></a>
      </ul>
    </aside>

    <section class="return-history">
      <h2>취소 주문 내역</h2>
      <p class="notice">최근 5년간 주문내역을 조회할 수 있습니다.</p>
      <div class="filters">
        <div class="filter-item">
          <select id="order-status">
            <option value="all">주문전체</option>
            <option value="completed">결제 완료</option>
            <option value="pending">결제 대기</option>
          </select>
        </div>
        <div class="filter-item">
          <input type="date" id="start-date">
          <span class="date-separator">~</span>
          <input type="date" id="end-date">
        </div>
        <button class="filter-btn" id="search-btn">조회</button>
      </div>

      <div class="info-banner">
        <img th:src="@{/image/money.png}" alt="Review Points">
        <div class="banner-text">
          <p class="highlight">리뷰 글 작성 시 200포인트 지급!</p>
          <p>이미지 리뷰 작성 시 500포인트 지급!</p>
        </div>
      </div>

      <table>
        <thead>
        <tr>
          <th>주문 번호</th>
          <th>주문 일자</th>
          <th>주문 내역</th>
          <th>주문 금액</th>
          <th>주문 상태</th>
          <th>수령자</th>
        </tr>
        </thead>
        <tbody id="order-table-body">
        <tr>
          <td colspan="6">조건에 맞는 데이터가 없습니다.</td>
        </tr>
        </tbody>
      </table>
    </section>
  </main>
  <div th:replace="footer :: footer"></div>

</div>

<script th:src="@{/js/cancel-history.js}"></script>
</body>
</html>