<header class="header">
  <div class="logo">
    <a th:href="@{/}"><img th:src="@{/image/logo/nhn24-logo.png}" alt="NHN 24 로고"></a>
  </div>
  <div class="header-center">
    <form th:action="@{/searchBook}" method="get">
      <div class="search-bar">
        <input type="text" name="searchTerm" placeholder="검색어 입력">
        <button type="submit">🔍</button>
      </div>
    </form>
    <nav class="menu">
      <ul>
        <li><a th:href="@{/typeBook?type=ItemEditorChoice}">추천 도서</a></li>
        <li><a th:href="@{/typeBook?type=Book}">국내 도서</a></li>
        <li><a th:href="@{/typeBook?type=Foreign}">외국 도서</a></li>
        <li><a th:href="@{/typeBook?type=Bestseller}">베스트셀러</a></li>
        <li><a th:href="@{/typeBook?type=ItemNewAll}">신간 소개</a></li>
        <li><a th:href="@{/typeBook?type=BlogBest}">이벤트</a></li>
      </ul>
    </nav>
  </div>
  <div class="user-actions">
    <a th:href="@{/mypage}"><img th:src="@{/image/icons/person.png}" alt="User Icon"></a>
    <a th:href="@{/cart-success}"><img th:src="@{/image/icons/cart.png}" alt="Cart Icon"></a>
    <a id="login-btn" href="/login"><button class="login-btn">Login</button></a>
    <a id="logout-btn" href="/logout" style="display: none;"><button class="login-btn">Logout</button></a>
  </div>
</header>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const jwtToken = localStorage.getItem('jwt-token');  // localStorage에서 jwt-token을 가져옴
    const loginBtn = document.getElementById('login-btn');
    const logoutBtn = document.getElementById('logout-btn');

    if (jwtToken && jwtToken !== 'null' && jwtToken !== '') {
      // 로그인 상태일 때
      loginBtn.style.display = 'none';  // 로그인 버튼 숨기기
      logoutBtn.style.display = 'inline-block';  // 로그아웃 버튼 보이기
    } else {
      // 로그인 안 되어 있을 때
      loginBtn.style.display = 'inline-block';  // 로그인 버튼 보이기
      logoutBtn.style.display = 'none';  // 로그아웃 버튼 숨기기
    }
  });
</script>
