<header class="header">
  <div class="logo">
    <a th:href="@{/main}"><img th:src="@{/image/logo/nhn24-logo.png}" alt="NHN 24 로고"></a>
  </div>
  <div class="header-center">
    <form th:action="@{/searchBook}" method="get">
      <div class="search-bar">
        <input type="text" name="searchTerm" placeholder="검색어 입력">
        <button type="submit">🔍</button>
      </div>
    </form>
    <nav class="menu">
      <ul>
        <li><a th:href="@{/recommended-books}">추천 도서</a></li>
        <li><a th:href="@{/domestic-books}">국내 도서</a></li>
        <li><a th:href="@{/foreign-books}">외국 도서</a></li>
        <li><a th:href="@{/bestsellers}">베스트셀러</a></li>
        <li><a th:href="@{/new-books}">신간 소개</a></li>
        <li><a th:href="@{/events}">이벤트</a></li>
      </ul>
    </nav>
  </div>
  <div class="user-actions">
    <a th:href="@{/mypage}"><img th:src="@{/image/icons/person.png}" alt="User Icon"></a>
    <a th:href="@{/cart-success}"><img th:src="@{/image/icons/cart.png}" alt="Cart Icon"></a>
    <a th:href="@{/login}"><button class="login-btn">Login</button></a>
  </div>
</header>