<header class="header">
  <div class="logo">
    <a th:href="@{/frontend/}"><img th:src="@{/image/logo/nhn24-logo.png}" alt="NHN 24 로고"></a>
  </div>
  <div class="header-center">
    <form th:action="@{/frontend/searchBook}" method="get">
      <div class="search-bar">
        <input type="text" name="search" placeholder="검색어 입력">
        <button type="submit">🔍</button>
      </div>
    </form>
    <nav class="menu">
      <ul>
        <li><a th:href="@{/frontend/typeBook?search=ItemEditorChoice}">추천 도서</a></li>
        <li><a th:href="@{/frontend/typeBook?search=Book}">국내 도서</a></li>
        <li><a th:href="@{/frontend/typeBook?search=Foreign}">외국 도서</a></li>
        <li><a th:href="@{/frontend/typeBook?search=Bestseller}">베스트셀러</a></li>
        <li><a th:href="@{/frontend/typeBook?search=ItemNewAll}">신간 소개</a></li>
      </ul>
    </nav>
  </div>
  <div class="user-actions">
    <a th:href="@{/frontend/mypage}"><img th:src="@{/image/icons/person.png}" alt="User Icon"></a>
    <a th:href="@{/frontend/cart}"><img th:src="@{/image/icons/cart.png}" alt="Cart Icon"></a>
    <a th:href="@{/frontend/login}" class="login-btn" id="login-btn" th:if="!${isLoggedIn}" th:style="'display: inline-block;'">로그인</a>
    <button class="login-btn" id="logout-btn" th:if="${isLoggedIn}" th:style="'display: inline-block;'">로그아웃</button>
  </div>
</header>

