<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>좋아요 내역</title>
  <link rel="stylesheet" th:href="@{/css/like-history.css}">
  <link rel="stylesheet" th:href="@{/css/global.css}">
</head>
<body>

<div th:replace="header :: header"></div>

<main class="my-account-container">

  <div th:replace="sidebar.html"></div>

  <section class="like-history">
    <h2>좋아요 내역</h2>

    <!-- 검색 필터 -->
    <form action="/likes-history" method="get">
      <div class="filters">
        <label for="book-search">도서 이름</label>
        <input type="text" id="keyword" name="keyword" placeholder="도서 이름" th:value="${keyword}">
        <button type="submit">조회</button>
      </div>
    </form>

    <div class="info-banner">
      <img th:src="@{/image/money.png}" alt="Review Points">
      <div class="banner-text">
        <p class="highlight">리뷰 글 작성 시 200포인트 지급!</p>
        <p>이미지 리뷰 작성 시 500포인트 지급!</p>
      </div>
    </div>

    <table>
      <thead>
      <tr>
        <th>도서 ID</th>
        <th>도서 이름</th>
        <th>좋아요 등록일</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="like : ${likeHistory}">
        <td><a th:href="@{/frontend/books/{bookId}(bookId=${like.bookId})}" th:text="${like.bookId}"></a></td>
        <td th:text="${like.bookTitle}">도서 이름</td>
        <td th:text="${#temporals.format(like.createdAt, 'yyyy-MM-dd HH:mm:ss')}">좋아요 등록일</td>
      </tr>

      <tr th:if="${#lists.isEmpty(likeHistory)}">
        <td colspan="5">조건에 맞는 데이터가 없습니다.</td>
      </tr>
      </tbody>
    </table>

    <!-- 페이징 -->
    <div class="pagination">
      <a th:href="@{/likes-history(page=${currentPage - 1}, size=${pageSize}, keyword=${keyword})}"
         th:if="${currentPage > 0}">이전</a>

      <span>Page <span th:text="${currentPage + 1}"></span></span>

      <a th:href="@{/likes-history(page=${currentPage + 1}, size=${pageSize}, keyword=${keyword})}"
         th:if="${likeHistory.size()} == ${pageSize}">다음</a>
    </div>

  </section>
</main>

<div th:replace="footer :: footer"></div>

</body>
</html>
