<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NHN 24 - My Page</title>
    <link rel="stylesheet" th:href="@{/css/mypage.css}">
    <link rel="stylesheet" th:href="@{/css/global.css}">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>  <!-- axios CDN 추가 -->
    <script type="module" src="/js/axios-config.js"></script>
    <script th:src="@{/js/global.js}"></script>
</head>
<body>

<div th:replace="header :: header"></div>

<main class="my-account-container">

    <div th:replace="sidebar.html"></div>

    <section class="account-info">
        <h2>회원 정보</h2>
        <div class="membership-section">
            <div class="membership-description">
                <h4>* 멤버십 등급 *</h4>
                <ul>
                    <div class="membership-images">
                        <img th:src="@{/image/general.png}" alt="일반">
                        <img th:src="@{/image/royal.png}" alt="로얄">
                        <img th:src="@{/image/gold.png}" alt="골드">
                        <img th:src="@{/image/platinum.png}" alt="플래티넘">
                    </div>
                    <li>멤버십 등급은 총 4단계로 구성됩니다.</li>
                    <li>(일반, 로얄, 골드, 플래티넘)</li>
                    <li>등급 혜택은 주문, 할인, 특별 쿠폰 제공.</li>
                    <li>회원 활동에 따라 등급이 변경됩니다.</li>
                </ul>
            </div>

            <div class="summary-box-container">
                <div class="summary-box">
                    <h4>포인트</h4>
                    <p th:text="${point} + ' PT'">4,010 PT</p>
                </div>
                <div class="summary-box">
                    <h4>멤버십 등급</h4>
                    <p th:text="${member.memberGrade}">골드</p>
                </div>
            </div>

            <div class="membership-actions">
                <button id="deleteAccountButton" class="delete-button">회원 탈퇴</button>
            </div>

        </div>
    </section>
</main>

<div th:replace="footer :: footer"></div>


<script src="/js/global.js"></script>
<script>
    document.getElementById('deleteAccountButton').addEventListener('click', function () {
        if (confirm("정말로 탈퇴하시겠습니까?")) {
            axios.delete('/api/members')
                .then(response => {
                    if (response.status === 200) { // HTTP 상태 코드 확인
                        alert("탈퇴가 완료되었습니다.");
                        axios.post('/auth/logout', {})
                            .then(response => {
                                if (response.status === 200) {
                                    window.location.href = "/frontend/main";  // 페이지 새로고침
                                }
                            })
                    } else {
                        alert("탈퇴 중 오류가 발생했습니다. 다시 시도해주세요.");
                    }
                })
                .catch(error => {
                    console.error("Error:", error);
                    alert("탈퇴 요청이 실패했습니다.");
                });
        }
    });
</script>

</body>
</html>