<aside class="sidebar">
    <h3>MY ACCOUNT</h3>
    <ul>
        <li>* 구매 내역</li>
        <a th:href="@{/frontend/orders/history}">
            <li>주문 조회/변경/취소</li>
        </a>
        <a th:href="@{/frontend/orders/refund}">
            <li>반품 내역</li>
        </a>
        <a th:href="@{/frontend/orders/canceled}">
            <li>취소 주문 내역</li>
        </a>
        <li>* 좋아요</li>
        <a th:href="@{/frontend/likes-history}">
            <li>좋아요 내역</li>
        </a>
        <li>* 포인트</li>
        <a th:href="@{/api/frontend/points/history}">
            <li>포인트 적립/사용 내역</li>
        </a>
        <li>* 쿠폰함</li>
        <a th:href="@{/api/frontend/coupons/history}">
            <li>쿠폰 내역</li>
        </a>
    </ul>
</aside>